.navbar{
    
    font-family: 'Orbitron', sans-serif;;
  padding:1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  @media screen and (min-width:1400px){
    padding-left: 10rem ;
      padding-right:10rem;
      
  }
  @media screen and (width <= 900px){
    margin-bottom:0;
  }
  img {
    width: 175px; /* Set the desired width */
    height:125px; /* Set the desired height */
    padding-left: 10px;
    display: flex;
    
    @media screen and (width <= 900px){
      width:125px;
      height:80px;
      padding-bottom:45px;
   
    }
 
  }
  & ul{
    display: flex;
    
   
    margin-bottom: 3rem;
    
    @media screen and (width <= 900px){
      margin-right: 0px;
      font-size:15px;
      display : flex;
      flex-direction:column;
      display :grid;
      place-items: end;
      text-align: end;
     
      list-style-type: none;
      gap:10px;
      text-align: end;

    }
    @media screen and (width <= 760px){
      font-size: 12px;
    }
 }
 & li{
    display: flex;
    list-style-type: none;
    margin-right: 70px;
    transition:300ms ease;
    
    &:hover{
      transition: 300ms ease;
      transform: scale(1.4);
    }
    @media screen and (width <= 900px){
      text-align: right;
    
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      list-style-type: none;
     
      &:hover{
         transition: 300ms ease;
         transform: scale(1.1);
        
       }
    }
    
 & a{
    text-decoration: none;
    color: white;
     position: relative;
  display: inline-block;
  padding-bottom: 5px;
  
 }
 a::after{
    content: '';
  position: absolute;

  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white; /* Set the desired underline color */
  transition: width 0.3s ease-in-out;
 }
 a:hover::after {
    width: 100%;
    
  }
 }
}
