body{
    background: rgb(0,0,0);
    padding: 2rem 3rem;
   min-height: 70vh;
   @media screen and (width <= 800px){
    padding: 0.5rem 1rem;
   }
    background: rgb(6,2,15);
background: linear-gradient(180deg, rgba(6,2,15,1) 0%, rgb(4,50,72) 0%, rgba(0,0,0,1) 100%) no-repeat;
 
}
.banner{
   
    position:relative;
    background-position:center;
    background-size: cover;
    max-width:100vw ;
    padding-inline: 2rem;
    background-image: url("soldier.jpg");
    min-height: 200px;
    max-width:100%;
    margin: 20px;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    border:1px solid rgb(95, 125, 142);
    overflow: hidden; /* Ensures the animation stays within the element's bounds */
  
}
.banner::before{
    content:"";
    position:absolute;
    border-radius: 2rem;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    background-color:rgba(0,0,0,0.7) ;
   
}

h2{
    font-family: 'Orbitron', sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 48px;
    color: #fff; /* Set the desired text color */
    text-shadow: 0 0 10px rgba(4, 50, 72, 0.8), 0 0 20px rgba(4, 50, 72, 0.8), 0 0 30px rgba(4, 50, 72, 0.8), 0 0 40px rgba(4, 50, 72, 0.8);

    animation: blinkAnimation 2s ease-in-out infinite;
    animation: fade-in 5s ease-in-out;
    @media screen and (width <= 800px){
      font-size:14px;
    }
    
}


@keyframes blinkAnimation {
  0% {
    text-shadow: 0 0 10px rgba(4, 50, 72, 0.8), 0 0 20px rgba(4, 50, 72, 0.8), 0 0 30px rgba(4, 50, 72, 0.8), 0 0 40px rgba(4, 50, 72, 0.8);
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 10px rgba(4, 50, 72, 0.8), 0 0 20px rgba(4, 50, 72, 0.8), 0 0 30px rgba(4, 50, 72, 0.8), 0 0 40px rgba(4, 50, 72, 0.8);
  }
}
 
  
  .whatis{
    font-family: 'Orbitron', sans-serif;
    margin-top:50px;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 25px;
    color:white;
    @media screen and (width <= 800px){
      margin-top:25px;
    }
  }

  .testpara{
    font-family: 'Orbitron', sans-serif;
    margin-top: 150px;
    @media screen and (width <= 800px){
      margin-top:50px;
      font-size:14px;
    }
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 18px;
    color:white;
    border: 2px solid rgb(95, 125, 142);
    padding: 1rem;
    border-radius: 2rem;
    background-color: black;
    animation: fade-in 5s ease-in-out;
   

    
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(5px);

    }
    100% {
      opacity: 1;
      transform: translateY(0);

    }
  }
  

  .loading-spinner 
    {
      
      position: fixed;
      background-color: black;
      opacity: 1;
      z-index: 1;
      inset: 0 0 0 0; 
      animation: spinner 150ms forwards;
      animation-delay: 5s;
      display: grid;
      place-items: center;
      &::after{
        content:"";
        height:200px;
        width:200px;
        border-top: 4px solid white ;
        border-radius:50%;
        animation : spin 1.5s ease-in-out;
        animation-iteration-count: 4;
      }
}
@keyframes spinner{
  from{
      opacity: 1;
  }
  to{
      opacity: 0;
      z-index: -10;
      display: none;
  }
}
@keyframes spin{
  to{
      transform: rotate(720deg);
  }
}



.loading-spinner img {
  position: absolute;
  
  transform: translate(-50%, -50%);
  width: 100px;
  height: 75px;
  animation: pulsate 1.5s ease-in-out infinite; /* Added pulsate animation */
overflow: hidden;
}
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

