body{
    background: rgb(0,0,0);
    padding-left: 3rem ;
    padding-right:3rem;
    padding-top: 1rem;
   min-height: 100vh;
   @media screen and (width <= 900px){
    padding-left: 3rem ;
    padding-right:3rem;
    padding-top: 1rem;
   }
   background: rgb(6,0,0);
background: linear-gradient(0deg, rgba(6,0,0,1) 0%, rgba(120,120,120,1) 0%, rgba(0,0,0,1) 53%);
@media screen and (min-width:1400px){
  padding-left: 10rem ;
    padding-right:10rem;
    
}
}



  .loading-spinner 
    {
      
      position: fixed;
      background-color: black;
      opacity: 1;
      z-index: 1;
      inset: 0 0 0 0; 
      animation: spinner 150ms forwards;
      animation-delay: 5s;
      display: grid;
      place-items: center;
      &::after{
        content:"";
        height:200px;
        width:200px;
        border-top: 4px solid white ;
        border-radius:50%;
        animation : spin 1.5s ease-in-out;
        animation-iteration-count: 4;
      }
}
@keyframes spinner{
  from{
      opacity: 1;
  }
  to{
      opacity: 0;
      z-index: -10;
      display: none;
  }
}
@keyframes spin{
  to{
      transform: rotate(720deg);
  }
}



.loading-spinner img {
  position: absolute;
  
  transform: translate(-50%, -50%);
  width: 125px;
  height: 90px;
  animation: pulsate 1.5s ease-in-out infinite; /* Added pulsate animation */
overflow: hidden;
}
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

